{% extends "wsite/base.html" %}
        
{%block content%}
<div class="container">
    <section style="background-color: #eee;">
        <div class="container py-3">
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  {% if profile_user.0.profile_pic %}
                      <img src="{{ profile_user.0.profile_pic.url }}" alt="Profile Picture">
                  {% else %}
                      <img alt="avatar" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp">
                  {% endif %}
                  <h5 class="my-3">{{user.username}}</h5>
                  <p class="text-muted mb-1">Trang thai: {{profile_user.0.mode}}</p>
                  <p class="text-muted mb-4">{{user.email}}</p>
                  <div class="d-flex justify-content-center mb-2">
                    {%if profile_user.0.mode == 'public'%}
                      <a href="{%url 'mode_incognito'%}" class="btn btn-primary">Incognito</a>
                    {% else %}
                      <a href="{% url 'mode_public'%}" class="btn btn-danger">Public</a>
                    {% endif %}
                    <button type="button" class="btn btn-outline-primary ms-1 ml-3">Message</button>
                  </div>
                </div>
              </div>
              
              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-globe fa-lg text-warning"></i>
                      <p class="mb-0">https://mdbootstrap.com</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                      <p class="mb-0">mdbootstrap</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                      <p class="mb-0">@mdbootstrap</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                      <p class="mb-0">mdbootstrap</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                      <p class="mb-0">mdbootstrap</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <form method="POST"> 
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">Save changes</button>
                  </form>
                <hr>
            </div>
          </div>
        </div>
      </section>
</div>
{%endblock%}